 .aboutText {
     height: 100vh;
     margin:0;
     padding:0;
 }

.aboutText h3 {
  margin: 0;
  padding:0;
  bottom: 8px;
  left: 16px;
}

.aboutText h3 {
  margin: 0;
  padding:0;
  bottom: 8px;
  left: 16px;
}

.aboutText h3 {
  margin: 0;
  padding:0;
  bottom: 8px;
  left: 16px;
}

.aboutText .background-img {
    max-height: 100vh;
    max-width: 60%;
    float: right;
  }