 .aboutText {
     height: 100vh;
     margin:0;
     padding:0;
     background-color: #F7F7F7;
 }

.aboutText h3 {
  
    margin: 0;
  padding:0;
}

.aboutText .background-img {
    max-height: 100vh;
    max-width: auto;
    float: right;
  }