.code-page {
    min-height: 100vh;
    margin: 0;
    padding:0;
}

.code-page h1 {
    margin: 0;
    padding:25px;
    color: #C9886D; 
}

.deck1 {
    padding: 20px
}

.deck2 {
    padding: 20px
}