.demo-reel-page {
    height: 100vh;
}


.demo-reel-page h1 {
    margin: 0;
    padding:25px;
    color: #C9886D; 
}
.demo-reel-page .img {
    max-height: 500px;
    display: block;
    margin-left: auto;
  margin-right: auto;
  }