.navbar {
  margin-bottom: 20px;
}
.nav {
    position: fixed;
    width: 100%;
    background-color: #C9886D; 
    height: 90px; /* how much offset we need in navbar.js line 30*/
}

.nav-item > .active {
    border-bottom: 2px solid white;
  }

.nav-item:hover {
    color: black;
    cursor: pointer;
  }

  .nav-item {
    display: inline;
    margin-left: 3rem;
  }

.home {
    float: left;
    text-align: center;
    padding: calc(.3em + 1vw) calc(.2em + 1.7vw);
    font-size: 20px;
    padding-top: 60px;
}

.nav .navv {
  float:right;
}

.home:hover {
    cursor: pointer;
  }

.nav-items {
    font-size: 15px;
    padding-top: 60px;
    padding-right:2px;
}

.card-footer {
  background-color: #C9886D;
}

