.navbar {
    margin-bottom: 20px;
    max-width: 100%
  }

  .navbar-default{
    max-width:100%;
  }
  
  .nav-mobile {
    position: fixed;
    width:100%;
    background-color: #C9886D; 
    height: 0px;
  }
  .nav-item > .active {
      border-bottom: 2px solid white;
    }
  
  .nav-item:hover {
      color: black;
      cursor: pointer;
    }

    .navbar-header {
      background-color: #F16E10;
    }
  
  
  .home {
      float: left;
      text-align: center;
      padding: calc(.3em + 1vw) calc(.2em + 1.7vw);
      font-size: 20px;
      padding-top: 60px;
  }
  
.navv {
    background-color: #C9886D;
  }
  
  .home:hover {
      cursor: pointer;
    }
  
  
  .card-footer {
    background-color: #C9886D;
  }

#nav-dropdown {
  background-color: #C9886D;
}
  
  