.nav {
    position: fixed;
    width: 100%;
    background-color: #C9886D; 
    height: 90px; /* how much offset we need in navbar.js line 30*/
}

.nav-item > .active {
    border-bottom: 2px solid white;
  }

.nav-item:hover {
    color: black;
    cursor: pointer;
  }

  .nav-item {
    display: inline;
    margin-left: 2rem;
  }

.home {
    float: left;
    text-align: center;
    padding: calc(.3em + 1vw) calc(.2em + 1.7vw);
    font-size: calc(.3em + 1.7vw);
    padding-top: 29px;
}

.home:hover {
    cursor: pointer;
  }

.nav-items {
    float: right;
    text-align: center;
    padding: 14px 16px;
    font-size: calc(.1em + 1.2vw);
}


