.content {
  outline: 1px dashed red;
  align-items: stretch;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
}

.content .sections {
  overflow-y: scroll;
  margin: 0;
}

  .div1 {
    outline: 1px dashed red;
    margin: 0;
  }
  .div2 {
    outline: 1px dashed red;
  }
  .div3 {
    outline: 1px dashed red;
  }

  .div4 {
    outline: 1px dashed red;
  }

  .div5 {
    outline: 1px dashed red;
  }

  .div6 {
    outline: 1px dashed red;
  }

  .div7 {
    outline: 1px dashed red;
  }

  .navbar > .active {
    border-bottom: 1px solid white;
}

